@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*font-family: 'Poppins', sans-serif;*/
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2, .txt-white, h3, h4, h5, h6, p, .center-txt .whiteP, li, a {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h2, .txt-white {
  color: #1C111F;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}
h2 span, .txt-white span {
  font-weight: 700;
  color: var(--base-color);
}
h2::before, .txt-white::before {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--base-color);
  content: "";
  right: -10px;
  bottom: 10px;
}

.txt-white {
  color: #fff;
}

.center-txt {
  text-align: center;
}
.center-txt p, .center-txt .whiteP {
  color: #202121;
  font-weight: 300;
  font-size: 16px;
  width: 70%;
  display: inline-block;
  margin-bottom: 47px;
  line-height: 25px;
}
.center-txt .whiteP {
  color: #fff;
}

:root {
  --base-color: #A99B6D;
}

.top-header {
  background: var(--base-color);
  padding: 15px 0;
  width: 100%;
}
.top-header .cntc {
  width: 100%;
  text-align: left;
}
.top-header .cntc li {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-right: 20px;
}
.top-header .cntc li i {
  margin-right: 6px;
}
.top-header .social {
  width: 100%;
  text-align: right;
}
.top-header .social li {
  display: inline-block;
  margin-left: 20px;
}
.top-header .social li i {
  color: #fff;
}

/*Top Header End*/
.header.fix {
  background: rgba(28, 17, 31, 0.8);
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.header.fix .navbar-brand img {
  max-width: 60px;
}
.header.fix .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 999;
}
.header .navbar {
  width: 100%;
}
.header .navbar ul li {
  margin-left: 40px;
}
.header .navbar ul li a.nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.header .navbar ul li a.nav-link:hover {
  color: var(--base-color);
}
.header .navbar ul li .dropdown-toggle::after {
  border: none;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
}
.header .navbar ul li:last-child .dropdown-toggle::after {
  display: none;
}
.header .navbar ul li .dropdown-item:hover {
  background: var(--base-color);
  color: #fff;
}
.header label {
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  transition: all 1s ease;
  border-radius: 0;
  margin-left: 40px;
}
.header label::after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--base-color);
  transition: all 1s ease 0.5s;
}
.header label input {
  transition: width 1s ease, opacity 0.5s ease 0.5s;
  opacity: 1;
  width: 180px;
  height: 25px;
  padding: 10px;
  border: 0;
  outline: none;
  color: var(--base-color);
}
.header label i {
  position: absolute;
  top: 11px;
  right: 11px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.header label[data-state=opan] {
  background: #fff;
}
.header label[data-state=opan] i {
  color: var(--base-color);
}
.header label[data-state=close] {
  border-radius: 30px;
  padding: 5px 5px;
  transition: all 1s ease;
}
.header label[data-state=close]::after {
  width: 0%;
  transition: all 0.3s ease;
}
.header label[data-state=close] i {
  pointer-events: none;
}
.header label[data-state=close] input {
  width: 28px;
  height: 25px;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease, width 1s ease;
  -webkit-appearance: none;
}

/*Header End*/
.banner {
  /*------------------------------ vertical bootstrap slider----------------------------*/
  /*------------------------------- vertical carousel indicators ------------------------------*/
}
.banner .carousel-caption {
  bottom: 70px;
}
.banner h1 {
  color: #fff;
  font-size: 80px;
  font-family: "adlery_proregular";
  line-height: 210px;
  margin-bottom: 30px;
}
.banner p, .banner .center-txt .whiteP, .center-txt .banner .whiteP {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 60px;
}
.banner a {
  width: 156px;
  height: 49px;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--base-color);
  line-height: 49px;
  margin: 0 15px;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.banner a:hover {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.banner a:hover::before {
  top: 0;
  transition: all ease 0.5s;
}
.banner a::before {
  background: var(--base-color);
  position: absolute;
  top: -49px;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 49px;
}
.banner img {
  width: 100%;
}
.banner .carousel-inner > .carousel-item.carousel-item-next,
.banner .carousel-inner > .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  top: 0;
}
.banner .carousel-inner > .carousel-item.carousel-item-prev,
.banner .carousel-inner > .carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  top: 0;
}
.banner .carousel-inner > .carousel-item.next.carousel-item-left,
.banner .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.banner .carousel-inner > .carousel-item.active {
  transform: translate3d(0, 0, 0);
  top: 0;
}
.banner .carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  transform: rotate(90deg);
}
.banner .carousel-indicators li {
  display: block;
  margin-bottom: 5px;
  background: #9A9398;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  border: none;
}
.banner .carousel-indicators li.active {
  background: #fff;
}

/*Banner End*/
.hm-service {
  width: 100%;
  padding: 100px 0;
  background: url(../images/hmservicebg.jpg) no-repeat center bottom -300px;
  position: relative;
}
.hm-service:before {
  background: url(../images/hmservicebg.jpg) no-repeat right bottom;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.hm-service:after {
  background: url(../images/hmservicebg.jpg) no-repeat left bottom;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.hm-service ul li {
  position: relative;
  margin-bottom: 50px;
}
.hm-service ul li:hover .img-hldr img {
  filter: grayscale(0);
}
.hm-service ul li .img-hldr {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.hm-service ul li .img-hldr img {
  max-width: 100%;
  filter: grayscale(100%);
}
.hm-service ul li .img-hldr .txt {
  position: absolute;
  right: 12px;
  bottom: -3px;
  background: #fff;
  width: 75%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.hm-service ul li .img-hldr .txt .icon {
  position: absolute;
  background: var(--base-color);
  width: 62px;
  height: 72px;
  left: -15px;
  top: -15px;
  text-align: center;
  padding: 12px 0;
  overflow: hidden;
}
.hm-service ul li .img-hldr .txt .icon img {
  vertical-align: middle;
  margin-top: -13px;
}
.hm-service ul li .img-hldr .txt h3 {
  color: #1C111F;
  font-size: 23px;
  font-weight: 500;
  font-size: 20px;
  padding-left: 45px;
  line-height: 40px;
}
.hm-service ul li .img-hldr .txt p, .hm-service ul li .img-hldr .txt .center-txt .whiteP, .center-txt .hm-service ul li .img-hldr .txt .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.bgg {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

/*Hm Service End*/
.hm-drink {
  width: 100%;
  text-align: center;
  padding: 85px;
  background: url(../images/drink-bg.png) no-repeat center;
  background-size: cover !important;
  position: relative;
}
.hm-drink .container {
  position: relative;
  z-index: 9;
}
.hm-drink .container .hldr {
  width: 100%;
  background: rgba(255, 255, 255, 0.78);
  padding: 85px 0;
  background: url(../images/drink-bg1.png) no-repeat center;
  text-align: center;
}
.hm-drink .container h3 {
  color: #202121;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 30px;
}
.hm-drink .container a {
  display: inline-block;
  width: 112px;
  height: 49px;
  color: #1C111F;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--base-color);
  line-height: 49px;
  margin: 0 15px;
  position: relative;
  z-index: 99;
  overflow: hidden;
}
.hm-drink .container a:hover {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.hm-drink .container a:hover::before {
  top: 0;
  transition: all ease 0.5s;
}
.hm-drink .container a::before {
  background: var(--base-color);
  position: absolute;
  top: -49px;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 49px;
}

/*Hm Drink End*/
.hm-client {
  text-align: center;
  padding: 100px 0 60px;
  position: relative;
}
.hm-client:before {
  background: url(../images/hmservicebg.jpg) no-repeat right bottom;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.hm-client:after {
  background: url(../images/hmservicebg.jpg) no-repeat left bottom;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.hm-client ul li {
  margin-bottom: 40px;
  text-align: center;
}
.hm-client ul li img {
  filter: grayscale(100%);
  cursor: pointer;
}
.hm-client ul li img:hover {
  filter: grayscale(0);
}

/*Hm Client End*/
.hm-testimonial {
  background: url(../images/hm-testimonial-bg.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  /*------------------------------ vertical bootstrap slider----------------------------*/
  /*------------------------------- vertical carousel indicators ------------------------------*/
}
.hm-testimonial .carousel-inner > .carousel-item.carousel-item-next,
.hm-testimonial .carousel-inner > .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  top: 0;
}
.hm-testimonial .carousel-inner > .carousel-item.carousel-item-prev,
.hm-testimonial .carousel-inner > .carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  top: 0;
}
.hm-testimonial .carousel-inner > .carousel-item.next.carousel-item-left,
.hm-testimonial .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.hm-testimonial .carousel-inner > .carousel-item.active {
  transform: translate3d(0, 0, 0);
  top: 0;
}
.hm-testimonial .carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  transform: rotate(90deg);
}
.hm-testimonial .carousel-indicators li {
  display: block;
  margin-bottom: 5px;
  background: #9A9398;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  border: none;
}
.hm-testimonial .carousel-indicators li.active {
  background: #fff;
}
.hm-testimonial .hldr {
  width: 85%;
  display: inline-block;
  text-align: left;
  position: relative;
  min-height: 300px;
}
.hm-testimonial .hldr .img-hldr {
  width: 220px;
  height: 220px;
  display: inline-block;
  vertical-align: top;
  z-index: 99;
  position: relative;
}
.hm-testimonial .hldr .img-hldr:after {
  width: 220px;
  height: 220px;
  position: absolute;
  content: "";
  background-color: var(--base-color);
  z-index: -1;
  left: -22px;
  bottom: -22px;
}
.hm-testimonial .hldr .txt {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/hmTestimonial.png) no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding: 60px;
  text-align: left;
}
.hm-testimonial .hldr .txt::before {
  background: rgba(255, 255, 255, 0.85);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hm-testimonial .hldr .txt::after {
  position: absolute;
  content: "";
  z-index: 9;
  background: url(../images/comma.png) no-repeat center;
  width: 103px;
  height: 68px;
  right: -20px;
  top: -34px;
}
.hm-testimonial .hldr .txt .lft {
  width: 20%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 9;
}
.hm-testimonial .hldr .txt .lft h3 {
  color: #151419;
  font-weight: 500;
  font-size: 22px;
}
.hm-testimonial .hldr .txt .lft h4 {
  color: var(--base-color);
  font-size: 13px;
  font-weight: 500;
}
.hm-testimonial .hldr .txt .lft .star {
  width: 100%;
  text-align: center;
}
.hm-testimonial .hldr .txt .lft .star li {
  display: inline-block;
  width: 13px;
}
.hm-testimonial .hldr .txt .rht {
  width: 79%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 9;
}
.hm-testimonial .hldr .txt .rht p, .hm-testimonial .hldr .txt .rht .center-txt .whiteP, .center-txt .hm-testimonial .hldr .txt .rht .whiteP {
  font-size: 15px;
  font-weight: 400;
  color: #202121;
}

/*Hm Testimonial End*/
.hm-contact {
  width: 100%;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}
.hm-contact::before {
  position: absolute;
  content: "";
  background: url(../images/hmservicebg1.jpg) no-repeat;
  width: 424px;
  height: 204px;
  top: 30px;
  left: 50px;
  z-index: -1;
}
.hm-contact .container {
  position: relative;
  z-index: 999;
}
.hm-contact .hldr {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9;
}
.hm-contact .hldr .lft {
  padding: 70px 35px;
  width: 50%;
  position: relative;
  z-index: 9;
}
.hm-contact .hldr .lft h2, .hm-contact .hldr .lft .txt-white {
  margin-bottom: 30px;
}
.hm-contact .hldr .lft ul {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.hm-contact .hldr .lft ul li {
  display: inline-block;
  color: #1C111F;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-right: 30px;
}
.hm-contact .hldr .lft ul li i {
  font-size: 18px;
  color: var(--base-color);
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.hm-contact .hldr .lft .form-control {
  border: 1px solid var(--base-color);
  border-radius: 0;
  height: calc(1.5em + 1.50rem + 2px);
}
.hm-contact .hldr .lft .form-control:focus {
  box-shadow: none;
}
.hm-contact .hldr .lft input[type=submit] {
  width: 254px;
  height: 49px;
  text-align: center;
  color: #fff;
  background: var(--base-color);
  font-size: 20px;
  font-weight: 400;
  border: none;
}
.hm-contact .hldr .lft textarea.form-control {
  height: 114px;
}
.hm-contact .hldr .rht {
  position: absolute;
  right: 0;
  top: 0;
  width: 48%;
  height: 100%;
  background: url(../images/WELLFINITY.png) no-repeat center right, url(../images/Wellfinity-Logo-Black-Circle.png) no-repeat center top, var(--base-color);
}
.hm-contact .hldr .rht img {
  position: relative;
  right: 200px;
  bottom: -58px;
}

/*Hm Contact End*/
.footer {
  background: url(../images/footer-bg.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  padding: 140px 0 0 0;
  margin-top: -90px;
  z-index: 9;
}
.footer::before {
  background: url(../images/footer-overlay.jpg) no-repeat center bottom;
  background-size: cover;
  z-index: 9;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  left: 0;
  top: 0;
}
.footer .footer-logo {
  position: absolute;
  width: 122px;
  height: 122px;
  right: 40px;
  top: -50px;
  z-index: 999;
  border-radius: 50%;
  overflow: hidden;
}
.footer .footer-logo img {
  max-width: 100%;
}
.footer .container {
  position: relative;
  z-index: 99;
}
.footer .container h6 {
  color: var(--base-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer .container ul.link {
  width: 100%;
}
.footer .container ul.link li {
  margin-bottom: 20px;
}
.footer .container ul.link li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.footer .container ul.link li a span {
  color: var(--base-color);
  font-size: 10px;
  font-weight: 300;
}
.footer .container p, .footer .container .center-txt .whiteP, .center-txt .footer .container .whiteP {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}
.footer .container input[type=text] {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 15px;
  color: #1C111F;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  border: none;
}
.footer .container input[type=submit] {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--base-color);
  border: none;
}
.footer .container .social {
  width: 100%;
  text-align: center;
}
.footer .container .social li {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px;
}
.footer .container .social li a {
  color: #fff;
  transition: all ease 0.5s;
}
.footer .container .social li a:hover {
  top: -5px;
  position: relative;
}
.footer p.ftr-bottom, .footer .center-txt .ftr-bottom.whiteP, .center-txt .footer .ftr-bottom.whiteP {
  border-top: 1px solid #fff;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 25px 0;
}
.footer p.ftr-bottom a, .footer .center-txt .ftr-bottom.whiteP a, .center-txt .footer .ftr-bottom.whiteP a {
  color: var(--base-color);
  font-weight: 500;
}

/*------------------------- Home Page End -------------------------*/
.inner-banner {
  width: 100%;
  min-height: 515px;
  background-size: cover !important;
  text-align: center;
  padding-top: 120px;
}
.inner-banner h1 {
  color: #fff;
  font-size: 80px;
  font-family: "adlery_proregular";
  line-height: 210px;
  margin-bottom: 30px;
}
.inner-banner ul {
  width: 100%;
  text-align: center;
  padding: 0;
}
.inner-banner ul li {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  border-right: 2px solid #fff;
  padding: 0 10px;
}
.inner-banner ul li a {
  color: #fff;
}
.inner-banner ul li:last-child {
  border: none;
}

/*------------------------- Inner Banner End -------------------------*/
.inner-footer {
  padding-top: 60px;
  margin-top: 0;
}

/*------------------------- Inner Footer End -------------------------*/
.service-details {
  width: 100%;
  padding: 120px 0;
  background: url(../images/hmservicebg.jpg) no-repeat center bottom -300px;
  position: relative;
}
.service-details:before {
  background: url(../images/hmservicebg.jpg) no-repeat right bottom;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.service-details:after {
  background: url(../images/hmservicebg.jpg) no-repeat left bottom;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.service-details .bgg {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.service-details .img-hldr {
  width: 100%;
  border-radius: 15px 0 0 0;
  overflow: hidden;
}
.service-details .img-hldr img {
  max-width: 100%;
}
.service-details .hldr {
  padding-left: 50px;
  margin-bottom: 70px;
}
.service-details .hldr .title {
  background: var(--base-color);
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
}
.service-details .hldr .title .icon {
  width: 95px;
  background: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.service-details .hldr .title .icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  background: var(--base-color);
  left: 0;
  top: 0;
}
.service-details .hldr .title h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #fff;
  padding: 0 30px;
}
.service-details .hldr p, .service-details .hldr .center-txt .whiteP, .center-txt .service-details .hldr .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.service-details .hldr p span, .service-details .hldr .center-txt .whiteP span, .center-txt .service-details .hldr .whiteP span {
  color: var(--base-color);
  font-weight: 600;
}
.service-details .hldr a {
  color: #1C111F;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--base-color);
  line-height: 49px;
  margin-top: 20px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  height: 49px;
  width: 148px;
  display: inline-block;
  text-align: center;
}
.service-details .hldr a:hover {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.service-details .hldr a:hover::before {
  top: 0;
  transition: all ease 0.5s;
}
.service-details .hldr a::before {
  background: var(--base-color);
  position: absolute;
  top: -49px;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 49px;
}
.service-details .Dtlshldr {
  border: 1px solid #8A8A8A;
  margin-bottom: 30px;
  text-align: center;
  padding: 36px;
}
.service-details .Dtlshldr .icon {
  display: inline-block;
  min-height: 42px;
  margin-bottom: 15px;
}
.service-details .Dtlshldr h4 {
  color: #1C111F;
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
}
.service-details .Dtlshldr h4 span {
  font-weight: 600;
  color: var(--base-color);
}
.service-details .Dtlshldr p, .service-details .Dtlshldr .center-txt .whiteP, .center-txt .service-details .Dtlshldr .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
}
.service-details .Dtlshldr:hover {
  border: 2px solid var(--base-color);
  padding: 35px;
  transition: all ease 0.5s;
}

/*------------------------- Srtvice Details End -------------------------*/
.contact-map {
  width: 100%;
  height: 560px;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact {
  width: 100%;
  padding: 90px 0;
  background: url(../images/hmservicebg.jpg) no-repeat center top -400px, url(../images/contact-bg.png) no-repeat center top 25px;
  position: relative;
}
.contact .hldr {
  padding: 0 100px;
}
.contact .hldr ul {
  width: 100%;
  text-align: left;
  margin-bottom: 60px;
}
.contact .hldr ul li {
  display: inline-block;
  width: 49%;
  font-size: 30px;
  font-weight: 500;
  color: #1C111F;
  margin-bottom: 30px;
}
.contact .hldr ul li:first-child {
  width: 100%;
}
.contact .hldr ul li i {
  color: var(--base-color);
  font-size: 48px;
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
}
.contact .hldr .form-control {
  height: 80px;
  border: 1px solid var(--base-color);
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
  border-radius: 0;
}
.contact .hldr .form-control:focus {
  box-shadow: none;
}
.contact .hldr textarea.form-control {
  height: 195px;
  padding: 20px 25px;
}
.contact .hldr input[type=submit] {
  color: #fff;
  background: var(--base-color);
  height: 83px;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}

/*------------------------- Contact End End -------------------------*/
.service {
  width: 100%;
  padding: 100px 0 50px;
  background: url(../images/hmservicebg.jpg) no-repeat center bottom -300px;
  position: relative;
}
.service:before {
  background: url(../images/hmservicebg.jpg) no-repeat right bottom;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.service:after {
  background: url(../images/hmservicebg.jpg) no-repeat left bottom;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.service .service-hldr {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 15px 0 0 0;
  overflow: hidden;
  margin-bottom: 50px;
}
.service .service-hldr .img-hldr {
  width: 100%;
  height: 415px;
}
.service .service-hldr .img-hldr img {
  max-width: 100%;
  filter: grayscale(100%);
}
.service .service-hldr:hover .img-hldr img {
  filter: grayscale(0);
}
.service .service-hldr .txt {
  position: absolute;
  z-index: 9;
  bottom: 0;
  text-align: center;
  padding: 15px;
  background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.7175245098) 77%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
}
.service .service-hldr .txt:hover {
  background: linear-gradient(0deg, #a99b6d 50%, rgba(169, 155, 109, 0.7175245098) 77%, rgba(0, 0, 0, 0) 100%);
}
.service .service-hldr .txt .icon {
  width: 62px;
  height: 72px;
  background: var(--base-color);
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.service .service-hldr .txt .icon img {
  position: absolute;
  top: 0;
  left: 0;
}
.service .service-hldr .txt:hover .icon {
  background: #fff;
  transition: all ease 0.5s;
}
.service .service-hldr .txt:hover .icon img {
  top: -72px;
  transition: all ease 0.5s;
}
.service .service-hldr .txt h5 {
  color: #1C111F;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.service .service-hldr .txt:hover h5 {
  color: #fff;
}
.service .service-hldr .txt p, .service .service-hldr .txt .center-txt .whiteP, .center-txt .service .service-hldr .txt .whiteP {
  font-size: 14px;
  font-weight: 300;
  color: #202121;
}
.service .service-hldr .txt:hover p, .service .service-hldr .txt:hover .center-txt .whiteP, .center-txt .service .service-hldr .txt:hover .whiteP {
  color: #fff;
}

.service-bottom {
  width: 100%;
  background: url(../images/service-bottom-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0;
  text-align: center;
}
.service-bottom h5 {
  color: #fff;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.service-bottom a {
  display: inline-block;
  position: relative;
  width: 248px;
  height: 49px;
  text-align: center;
  border: 1px solid #fff;
  line-height: 49px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.service-bottom a:hover {
  text-decoration: none;
  color: var(--base-color);
  transition: all ease 0.5s;
  background: #fff;
  transition: all ease 0.5s;
}

/*------------------------- Service  End -------------------------*/
.blog {
  width: 100%;
  padding: 100px 0;
  position: relative;
  background: url(../images/bg-logo.png) no-repeat bottom -60px right -260px;
}
.blog:before {
  background: url(../images/hmservicebg.jpg) no-repeat right bottom;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.blog:after {
  background: url(../images/hmservicebg.jpg) no-repeat left bottom;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 145px;
}
.blog .blog-hldr {
  width: 100%;
  margin-bottom: 60px;
}
.blog .blog-hldr .img-hldr {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.blog .blog-hldr .img-hldr img {
  max-width: 100%;
}
.blog .blog-hldr .img-hldr a {
  display: inline-block;
  max-width: 100%;
}
.blog .blog-hldr .img-hldr .date {
  width: 91px;
  text-align: center;
  background: var(--base-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  font-weight: 500;
  color: #fff;
  font-size: 37px;
  margin: 19px ​0 15px;
}
.blog .blog-hldr .img-hldr .date span {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  top: -39px;
  position: relative;
}
.blog .blog-hldr h3 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
}
.blog .blog-hldr h3 a {
  color: #1C111F;
}
.blog .blog-hldr h3 a span {
  color: var(--base-color);
}
.blog .blog-hldr h3 i {
  float: right;
  color: var(--base-color);
  font-size: 23px;
}
.blog .blog-hldr ul {
  width: 100%;
  text-align: left;
}
.blog .blog-hldr ul li {
  color: #202121;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 25px;
}
.blog .blog-hldr ul li span {
  color: var(--base-color);
}
.blog .blog-hldr ul li i {
  color: var(--base-color);
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.blog .blog-hldr hr {
  margin: 20px 0;
}
.blog .blog-hldr p, .blog .blog-hldr .center-txt .whiteP, .center-txt .blog .blog-hldr .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.blog .blog-hldr a.rdmr {
  width: 149px;
  height: 48px;
  border: 1px solid var(--base-color);
  color: #1C111F;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.blog .blog-hldr a.rdmr::before {
  background: var(--base-color);
  position: absolute;
  top: -49px;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  height: 49px;
}
.blog .blog-hldr a.rdmr:hover {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.5s;
}
.blog .blog-hldr a.rdmr:hover::before {
  top: 0;
  transition: all ease 0.5s;
}
.blog .pagination .page-item.active .page-link {
  color: #1C111F;
  background: none;
}
.blog .pagination .page-item .page-link {
  color: rgba(28, 17, 31, 0.3);
  border: none;
  font-size: 20px;
  font-weight: 400;
}
.blog .pagination .page-item .page-link:hover {
  color: #1C111F;
  background: none;
}
.blog .pagination .page-item .page-link .page-item {
  border: none;
}
.blog .pagination .page-item:first-child .page-link {
  font-size: 35px;
  color: var(--base-color);
  margin-top: -12px;
}
.blog .pagination .page-item:last-child .page-link {
  color: var(--base-color);
}
.blog .hldr {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-bottom: 30px;
}
.blog .hldr h4 {
  color: #1C111F;
  font-size: 23px;
  font-weight: 500;
  line-height: 29px;
  padding-left: 15px;
  border-left: 2px solid var(--base-color);
  margin-bottom: 15px;
}
.blog .hldr .search {
  width: 100%;
  border: 1px solid var(--base-color);
  text-align: left;
}
.blog .hldr .search input[type=text] {
  color: #0E5060;
  font-size: 14px;
  font-weight: 400;
  height: 47px;
  line-height: 47px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  padding: 0 20px;
}
.blog .hldr .search input[type=text]:focus {
  border: none;
  outline: none;
}
.blog .hldr .search input[type=submit] {
  width: 47px;
  height: 47px;
  float: right;
  background: url(../images/search.png) no-repeat center, var(--base-color);
  border: none;
  border-radius: 0;
}
.blog .hldr p, .blog .hldr .center-txt .whiteP, .center-txt .blog .hldr .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.blog .hldr .form-select {
  width: 100%;
  border: 1px solid #707070;
  padding: 10px;
  color: #0E5060;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  position: relative;
  background: url(../images/arrow-icn.png) no-repeat center right 15px;
}
.blog .hldr .Archives {
  width: 100%;
  border: 1px solid rgba(169, 155, 109, 0.25);
  padding: 10px;
}
.blog .hldr .Archives li {
  border-bottom: 1px solid rgba(169, 155, 109, 0.25);
}
.blog .hldr .Archives li:last-child {
  border: none;
  width: 100%;
}
.blog .hldr .Archives li a {
  color: #202121;
  font-size: 12px;
  line-height: 30px;
  font-weight: 300;
  width: 100%;
}
.blog .hldr .Archives li a i {
  font-size: 16px;
  color: var(--base-color);
}
.blog .hldr .blog-service .serv {
  width: 100%;
  position: relative;
}
.blog .hldr .blog-service .serv .img-hldr {
  width: 100%;
  height: 255px;
  overflow: hidden;
}
.blog .hldr .blog-service .serv .img-hldr img {
  max-width: 100%;
}
.blog .hldr .blog-service .serv .icon {
  position: absolute;
  width: 36px;
  height: 42px;
  z-index: 9;
  left: 0;
  top: 0;
  background: var(--base-color);
  padding: 5px;
}
.blog .hldr .blog-service .serv .icon img {
  max-width: 100%;
}
.blog .hldr .blog-service .serv p, .blog .hldr .blog-service .serv .center-txt .whiteP, .center-txt .blog .hldr .blog-service .serv .whiteP {
  position: absolute;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  bottom: 0;
  left: 0;
  background: var(--base-color);
  z-index: 9;
  margin: 0;
  padding: 10px;
}
.blog .hldr .blog-service .owl-dots {
  position: absolute;
  bottom: -60px;
  left: -30px;
}
.blog .hldr .blog-service .owl-dots .owl-dot.active span {
  background: var(--base-color);
}
.blog .hldr .blog-service .owl-dots span {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background: rgba(169, 155, 109, 0.55);
}
.blog .follow {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}
.blog .follow .social {
  text-align: left;
  width: 100%;
}
.blog .follow .social li {
  display: inline-block;
  margin-right: 5px;
}
.blog .follow .social li a {
  font-size: 28px;
  color: var(--base-color);
  width: 49px;
  height: 49px;
  display: inline-block;
  text-align: center;
  line-height: 49px;
}
.blog .follow .social li a:hover {
  background: var(--base-color);
  color: #fff;
}

/*------------------------- Blog  End -------------------------*/
.about {
  width: 100%;
  padding: 60px 0;
}
.about .abt {
  width: 100%;
  text-align: right;
}
.about .abt li {
  width: 43%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 30px;
  text-align: left;
}
.about .abt li .num {
  width: 245px;
  background: url(../images/abtline.png) no-repeat bottom right;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.about .abt li .num span {
  width: 58px;
  height: 58px;
  display: inline-block;
  background: var(--base-color);
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  line-height: 58px;
}
.about .abt li .img-hldr {
  width: 100%;
  position: relative;
}
.about .abt li .img-hldr img {
  max-width: 100%;
}
.about .abt li .img-hldr .txt {
  position: absolute !important;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  padding: 15px 20px;
  position: relative;
}
.about .abt li .img-hldr .txt::before {
  background: var(--base-color);
  width: 5px;
  height: 83px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.about .abt li .img-hldr .txt h4 {
  color: #1C111F;
  font-size: 23px;
  font-weight: 500;
}
.about .abt li .img-hldr .txt h4 span {
  color: var(--base-color);
}
.about .abt li .img-hldr .txt p, .about .abt li .img-hldr .txt .center-txt .whiteP, .center-txt .about .abt li .img-hldr .txt .whiteP {
  color: #202121;
  font-size: 14px;
  font-weight: 300;
}
.about .abt li:first-child {
  margin-top: 70px;
}
.about .abt li:nth-child(2) {
  padding-left: 90px;
  width: 53%;
  margin-right: 0;
}
.about .abt li:nth-child(2) .num {
  position: absolute;
  background: url(../images/abtline1.png) no-repeat right top;
  width: 74px;
  left: 0;
  top: 152px;
  height: 257px;
}
.about .abt li:nth-child(2) .num span {
  position: absolute;
  bottom: 0;
}
.about .abt li:nth-child(3) {
  padding-left: 90px;
  width: 62%;
  margin-right: 0;
  padding-bottom: 80px;
}
.about .abt li:nth-child(3) .num {
  position: absolute;
  background: url(../images/abtline1.png) no-repeat right top;
  width: 74px;
  left: 0;
  top: 130px;
  height: 257px;
}
.about .abt li:nth-child(3) .num span {
  position: absolute;
  bottom: 0;
}

.abt-contact {
  background: url(../images/abt-contact-bg.jpg) no-repeat center !important;
  background-size: cover !important;
}
.abt-contact:before {
  display: none !important;
}
.abt-contact .hldr {
  z-index: 999;
}

/*------------------------- About Us End -------------------------*/
.footer-arrow {
  position: fixed;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
  bottom: 60px;
  right: 70px;
  z-index: 9;
  text-align: center;
  line-height: 46px;
  display: none;
  border: 0;
  outline: none !important;
  box-shadow: 0 0 2px rgba(28, 17, 31, 0.2);
}

.gallery {
  background: url(../images/contact-bg.png) no-repeat center top 35px;
  position: relative;
  margin-top: -35px;
  z-index: 99;
}
.gallery .card {
  width: 50%;
  float: left;
  position: relative;
  border: none;
}
.gallery .card .card-image {
  height: 650px;
  overflow: hidden;
  position: relative;
}
.gallery .card .card-image img {
  width: 100%;
}
.gallery .card .card-image .img-hldr {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 44%;
  opacity: 0;
}
.gallery .card .card-image .img-hldr img {
  width: auto;
  display: inline-block;
  height: auto;
}
.gallery .card .card-image .img-hldr:hover {
  opacity: 1;
  transition: all ease 0.5s;
}
.gallery .card:nth-child(4n+3) .card-image {
  height: 405px;
  padding-left: 13%;
}
.gallery .card:nth-child(4n+3) .card-image .img-hldr {
  padding-top: 26%;
  left: 13%;
  width: 87%;
}
.gallery .card:nth-child(4n+4) .card-image {
  height: 405px;
  padding-right: 13%;
}
.gallery .card:nth-child(4n+4) .card-image .img-hldr {
  padding-top: 26%;
  right: 13%;
  width: 87%;
}

/*------------------------- About Us End -------------------------*/
.blog-post {
  position: relative;
  padding-top: 0;
  margin-top: -35px;
  z-index: 99;
}
.blog-post::before, .blog-post::after {
  display: none;
}
.blog-post .hldr {
  background-color: white;
}

.sld-hldr {
  margin-bottom: 60px !important;
}

.high-para {
  background-color: rgba(0, 0, 0, 0.03);
}
.high-para a {
  color: var(--base-color);
}

.r-row {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 40px 20px 10px 10px;
  margin-bottom: 80px;
}
.r-row .img-hldr {
  position: absolute !important;
  width: 90% !important;
  height: 154px;
  margin: 0 !important;
}
.r-row .img-hldr img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.r-row .date-blog {
  background-color: var(--base-color);
  padding: 15px 10px;
}
.r-row .date-blog p, .r-row .date-blog .center-txt .whiteP, .center-txt .r-row .date-blog .whiteP {
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.r-row .date-blog p:first-child, .r-row .date-blog .center-txt .whiteP:first-child, .center-txt .r-row .date-blog .whiteP:first-child {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.r-row .date-blog p:last-child, .r-row .date-blog .center-txt .whiteP:last-child, .center-txt .r-row .date-blog .whiteP:last-child {
  margin-bottom: 0;
}
.r-row .para-blog p, .r-row .para-blog .center-txt .whiteP, .center-txt .r-row .para-blog .whiteP {
  font-weight: 500;
}
.r-row .para-blog p span, .r-row .para-blog .center-txt .whiteP span, .center-txt .r-row .para-blog .whiteP span {
  color: var(--base-color);
}

.r-blog {
  display: -webkit-inline-box;
}
.r-blog h3 {
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px;
}

.reply-hldr {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 25px 20px;
}
.reply-hldr .hm-contact {
  padding-top: 20px;
}
.reply-hldr .hm-contact .form-group input, .reply-hldr .hm-contact .form-group textarea {
  font-size: 0.8rem;
}
.reply-hldr input[type=submit] {
  width: 254px;
  height: 49px;
  text-align: center;
  color: #fff;
  background: var(--base-color);
  font-size: 20px;
  font-weight: 400;
  border: none;
}

.comments {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 25px 20px;
  margin-top: 3rem !important;
}
.comments li {
  border-top: 1px solid #C4C4C4;
  padding: 15px 0;
}
.comments .media-list .img-hldr {
  border-radius: 50%;
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}
.comments h4 {
  color: #1C111F;
}
.comments h4 a {
  color: #1C111F;
  font-size: 16px;
}
.comments p, .comments .center-txt .whiteP, .center-txt .comments .whiteP {
  color: #1C111F;
  margin: 0;
}
.comments p a, .comments .center-txt .whiteP a, .center-txt .comments .whiteP a {
  color: #1C111F;
}

/*------------------------- Blog Post  End -------------------------*//*# sourceMappingURL=style.css.map */